<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "_layout.html" %}
    {% block content %}
    <div class="container mt-5">
      <h2>Вакансии</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Название</th>
            <th>Город</th>
            <th>Компания</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td>{{ job.job_title }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.company.name }}</td>
            <td>
              <form method="post" action="{{ url_for('delete_job', job_id=job.id) }}" onsubmit="return confirm('Удалить вакансию?')">
                <button class="btn btn-sm btn-danger">Удалить</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}
    
</body>
</html>