<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/register.css') }}">
    <title>Step 4: Job Title & Login</title>
</head>
<body>
    {% include "_header.html" %}

    <div class="top-bar">
        <a href="{{ url_for('register_step_3') }}"><span class="back-arrow">&#8592;</span></a>
        <div class="progress-bar" style="width: 800px; margin: 0 auto;">
            <div class="progress-filled" style="width: 85%;"></div>
        </div>

    </div>

    <div class="form-wrapper">
        <h2>Укажите желаемую должность и учетную запись</h2>
        <p class="subtitle">Сообщите нам, какую должность вы ищете, и создайте логин.</p>

        <form method="POST" class="form-grid" style="justify-content: center;">
            <div class="form-group">
                <label for="job_title">Желаемая должность</label>
                <input type="text" id="job_title" name="job_title" placeholder="Графический дизайнер" required>
            </div>

            <div class="form-group">
                <label for="username">Создать имя пользователя</label>
                <input type="text" id="username" name="username" placeholder="Выберите имя пользователя" required>
            </div>

            <div class="form-group">
                <label for="password">Создать пароль</label>
                <input type="password" id="password" name="password" placeholder="Выберите пароль" required>
            </div>

            <button type="submit" class="continue-btn">продолжить</button>
        </form>

        <img src="/static/images/step_1_people.png" alt="" class="img_1_people">
    </div>
</body>
</html>
