<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/register.css') }}">
    <title>Step 3: Salary & Payment</title>
</head>
<body>
    {% include "_header.html" %}
    
    <div class="top-bar">
        <a href="{{ url_for('register_step_2') }}"><span class="back-arrow">&#8592;</span></a>
        <div class="progress-bar" style="width: 800px; margin: 0 auto;">
            <div class="progress-filled" style="width: 65%;"></div>
        </div>
    </div>

    <div class="form-wrapper">
        <h2>Какую минимальную зарплату вы хотите?</h2>
        <p class="subtitle">Мы используем это, чтобы сопоставить вам близлежащие предложения, которые приблизительно<br> платят эту сумму или больше</p>

        <form method="POST" class="form-grid">
            <div class="form-group">
                <label for="min_salary">Минимальная заработная плата</label>
                <select id="min_salary" name="min_salary" required>
                    <option value="" disabled selected>Выбор</option>
                    <option value="10000">10,000</option>
                    <option value="20000">20,000</option>
                    <option value="30000">30,000</option>
                    <option value="30000">50,000</option>
                    <option value="30000">100,000</option>
                    <option value="30000">200,000</option>
                    <!-- Добавь больше при необходимости -->
                </select>
                <p class="helper-text">Сумма указана в сомах</p>
            </div>

            <div class="form-group">
                <label for="payment_period">Платежный период</label>
                <select id="payment_period" name="payment_period" required>
                    <option value="" disabled selected>Выберите период</option>
                    <option value="hourly">Почасовая оплата</option>

                </select>
            </div>

            <button type="submit" class="continue-btn">Continue</button>
        </form>

        <img src="/static/images/step_1_people.png" alt="" class="img_1_people">
    </div>
</body>
</html>
й